<header class="mdl-layout__header mdl-layout__header--scroll">
  <div class="mdl-layout__header-row content">
    <!-- Title -->
    <span class="mdl-layout-title">Good Place For a Name</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">About</a>
      <a class="mdl-navigation__link" href="">Clients</a>
      <a class="mdl-navigation__link" href="">Something</a>
    </nav>
  </div>
</header>
